.footer {
    color: #ffffff;
    text-align: center;
    &__inner {
        display: flex;
        justify-content: center;
        padding: 60px 20px 30px;
        background-color: #191919;
    }
    &__wrapper {
        display: flex;
        max-width: 1170px;
        margin: 0 -15px;
    }
    &__column {
        @include flex-columns(12, 4, 15px);
    }
    &__title {
        position: relative;
        margin-bottom: 60px;
        color: #fefefe;
        font-family: $font-title;
        font-size: 21px;
        line-height: 24px;
        font-weight: 400;
        &::after {
            content: '';
            position: absolute;
            bottom: -30px;
            left: 50%;
            display: block;
            width: 199px;
            height: 19px;
            background: url('../img/decals/decal-title-block.png') no-repeat;
            background-size: cover;
            transform: translate(-50%,0);
        } 
    }
    &__desc {
        margin-bottom: 50px;
    }
    &__hours {
        display: block;
    }
    &__address {
        display: block;
        font-weight: 700;
    }
}



/**Media**/
@media screen and (max-width: 767px) {
    .footer {
        &__wrapper {
            align-items: center;
            flex-direction: column;
        }
        &__column {
            @include flex-columns(12, 8, 15px);
            margin-bottom: 30px;
        }
        &__title {
            margin-bottom: 40px;
        }
        &__desc {
            margin-bottom: 15px;
        }
    }
}

@media screen and (max-width: 450px) {
    .footer {
        &__column {
            @include flex-columns(12, 12, 15px);
        }
    }
}