.food {
    &__inner {
        position: relative;
        display: flex;
        padding: 55px 260px 30px;
    }
    &__background {
        background: 
                    linear-gradient(-43deg, rgba(1, 1, 1, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%),
                    url('../img/circle-pattern.png'),
                    url('../img/food-background.jpg') no-repeat;
        background-size: cover, contain;
        box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.14);
    }
    &__main {
        text-align: center;
        max-width: 40%;
        margin-right: auto;
        padding: 50px 10px;
        box-sizing: border-box;
    }
    &__title {
        position: relative;
        margin-bottom: 65px;
        color: $color-title-accent;
        font-family: $font-title;
        font-size: 36px;
        font-weight: 400;
        &::after {
            content: '';
            position: absolute;
            bottom: -55px;
            left: 50%;
            display: block;
            width: 232px;
            height: 43px;
            background: url('../img/decals/decal-section-title.png') no-repeat;
            transform: translate(-50%,0);
        }
    }
    &__desc {
        margin-bottom: 50px;
        color: $color-text;
        line-height: 24px;
    }
    &__author {

    }
    &__author-img {
        margin: 0 auto;
    }

    &__side {

    }
    &__photo {

    }

}