.ingredients {

    &__inner {
        position: relative;
        padding: 100px 215px;
        box-sizing: border-box;
    }
    &__background {
        background: url('../img/ingredients-background.jpg') no-repeat;
        background-size: cover;
    }
}

.ingredients-card {
    position: relative;
    max-width: 570px;
    margin-left: auto;
    padding: 85px;
    text-align: center;
    
    box-sizing: border-box;
    &__background {
        background: url('../img/ingredients-card-background.png');
        background-size: cover;
    }

    &__title {
        position: relative;
        margin-bottom: 70px;
        color: #ffffff;
        font-family: $font-title;
        font-size: 36px;
        line-height: 34px;
        font-weight: 400;
        &::after {
            content: '';
            position: absolute;
            bottom: -55px;
            left: 50%;
            display: block;
            width: 232px;
            height: 43px;
            background: url('../img/decals/decal-title-block.png') no-repeat;
            transform: translate(-50%,0);
        }    
    }
    &__desc {
        margin-bottom: 70px;
        color: #ffffff;
        line-height: 24px;
    }
    &__image {
        display: flex;
        justify-content: space-between;
    }
}