.ingredients {

    &__inner {
        position: relative;
        padding: 100px 215px;
        box-sizing: border-box;
    }
    &__background {
        background: url('../img/ingredients-background.jpg') no-repeat;
        background-size: cover;
    }
}

.ingredients-card {
    position: relative;
    max-width: 570px;
    margin-left: auto;
    padding: 85px;
    text-align: center;
    box-sizing: border-box;
    transition: box-shadow 0.3s;
    &:hover {
        box-shadow: 0 0 25px rgba($color: #ff9900, $alpha: 0.3);
    }
    &:hover::before {
        opacity: 0.3;
    }
    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #ff9900;
        opacity: 0;
        transition: opacity 0.3s;
    }

    &__background {
        background: url('../img/ingredients-card-background.png');
        background-size: cover;
    }
    &__title {
        position: relative;
        margin-bottom: 70px;
        color: #ffffff;
        font-family: $font-title;
        font-size: 36px;
        line-height: 34px;
        font-weight: 400;
        &::after {
            content: '';
            position: absolute;
            bottom: -55px;
            left: 50%;
            display: block;
            width: 232px;
            height: 43px;
            background: url('../img/decals/decal-title-block.png') no-repeat;
            transform: translate(-50%,0);
        }    
    }
    &__desc {
        margin-bottom: 70px;
        color: #ffffff;
        line-height: 24px;
    }
    &__image {
        display: flex;
        justify-content: space-between;
        &:hover .ingredients-card__image-img:first-child {
            transform: translateX(265%) rotate(360deg);
        }
        &:hover .ingredients-card__image-img:last-child {
            transform: translateX(-265%) rotate(-360deg);
        }
    }
    &__image-img {
        width: 110px;
        height: 110px;
        transition: all 1s;
    }
}


/**Media**/
@media screen and (max-width: 1024px) {
    .ingredients {
        &__inner {
            padding: 100px 20px;
        }
    }

    .ingredients-card {
        margin: 0 auto;
    }
}


@media screen and (max-width: 767px) {
    .ingredients {
        &__background {
            background-position: center;
        }
    }
    .ingredients-card {
        padding: 20px;
        &__desc {
            margin-bottom: 20px;
        }
        &__image {
            flex-direction: column;
            align-items: center;
            &:hover .ingredients-card__image-img:first-child {
                transform: translate(0) rotate(0);
            }
            &:hover .ingredients-card__image-img:last-child {
                transform: translate(0) rotate(0);
            }
        }
        &__image-img {
            margin-bottom: 5px;
        }
    }
}