.menu {

    &__inner {
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 80px 50px;
    }
    &__background {
        background: 
                    linear-gradient(-226deg, rgba(32, 90, 91, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%),
                    url('../img/menu-pattern.png');
        background-size: cover, contain;

        box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.14);
    }
    &__card {
        max-width: calc(50% - 200px);
        margin: 15px 100px;
    }
}


.menu-card {
    &__title {
        position: relative;
        margin-bottom: 70px;
        color: $color-title-accent;
        font-family: $font-title;
        font-size: 36px;
        font-weight: 400;
        text-align: center;
        transition: text-shadow 0.3s;
        cursor: pointer;
        &:hover {
            text-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
        }
        &:hover::after {
            bottom: -45px;
        }
        &::after {
            content: '';
            position: absolute;
            bottom: -40px;
            left: 50%;
            display: block;
            width: 247px;
            height: 24px;
            background: url('../img/decals/decal-section-title.png') no-repeat;
            transform: translate(-50%,0);
            transition: all 0.3s;
            cursor: initial;
        }
    }
    &__content {
        overflow: hidden;
        transition: all 0.7s;
    }
    &__list {

    }
    &__item {
        list-style: none;
    }
}


.menu-card-item {
    position: relative;
    margin-bottom: 30px;
    padding: 10px;
    &__name {
        position: relative;
        display: flex;
        margin-bottom: 20px;
        &::after {
            content: '';
            position: absolute;
            bottom: -10px;
            width: 100%;
            height: 1px;
            background-color: #c89f2d;
            border: 1px solid #fbf7c0;
            opacity: 0.3;

        }
    }
    &__title {
        margin-right: auto;
        color: $color-title-accent;
        font-family: $font-title;
        font-size: 21px;
        font-weight: 400;
    }
    &__price {
        color: $color-title-accent;
        font-family: $font-title;
        font-weight: 700;
    }
    &__desc {
        display: block;
        color: $color-text;
    }
}

.menu-card-item_special {
    border: 1px solid rgba($color: #c89f2d, $alpha: 0.3);
    &::after {
        content: 'Special';
        position: absolute;
        top: 0;
        right: -1px;
        padding: 6px 13px 4px;
        color: #f8fafa;
        font-size: 14px;
        line-height: 12px;
        background: url('../img/decals/special.png');
        transform: translateY(-100%);
    }
}


/**Media**/
@media screen and (max-width: 1024px) {
    .menu {
        &__inner {
            flex-direction: column;
        }
        &__card {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 767px) {
    .menu {
        &__inner {
            padding: 40px 20px;
        }
        &__card {
            margin: 15px;
        }
    }
}

@media screen and (max-width: 500px) {

}