.nav {
    font-family: $font-menu;
    font-size: 21px;
    font-weight: 700;
    &__list {
        display: flex;
    }
    &__item {
        margin-right: 50px;
        list-style: none;
        &:last-child {
            margin-right: 20px;
        }
    }
    &__link {
        position: relative;
        color: #ffffff;
        text-decoration: none;
        &:hover::before {
            width: 100%;
        }
        &::before {
            content: '';
            position: absolute;
            top: -42px;
            width: 0;
            height: 3px;
            background-color: rgba($color: #ffffff, $alpha: 0.7);
            transition: width 0.3s;
        }
    }
}