.reservation {

    &__inner {
        position: relative;
        display: flex;
        justify-content: center;
        padding: 100px 20px;
        box-sizing: border-box;
    }
    &__background {
        background: 
                    linear-gradient(-13deg, rgba(12, 52, 53, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%),
                    url('../img/circle-pattern.png');
        background-size: cover, contain;
        box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.05);
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        max-width: 1170px;
        margin: 0 -15px;
    }
    &__main {
        @include flex-columns(12, 6, 15px);
        min-width: 500px;
        padding: 0 70px;
        box-sizing: border-box;
    }
    &__side {
        @include flex-columns(12, 6, 15px);
        min-width: 500px;
        display: flex;
        justify-content: space-between;
    }
    &__title {
        position: relative;
        margin-bottom: 63px;
        color: $color-title-accent;
        font-family: $font-title;
        font-size: 36px;
        font-weight: 400;
        text-align: center;
        &::after {
            content: '';
            position: absolute;
            bottom: -60px;
            left: 50%;
            display: block;
            width: 232px;
            height: 43px;
            background: url('../img/decals/decal-section-title.png') no-repeat;
            transform: translate(-50%,0);
        }

    }
    &__desc {
        margin-bottom: 40px;
        color: $color-text;
        line-height: 24px;
        text-align: center;
    }
    &__desc p {
        &:first-child {
            margin-bottom: 10px;
        }
    }
    &__image {
        display: flex;
        align-items: flex-start;
        margin: 0 -15px;
    }
    &__image-img {
        margin: 0 15px;
    }
}


.reservation-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    &__label {
        display: block;
        max-width: 50%;
        margin-bottom: 15px;
        margin-right: 5px;
    }
    &__title {
        display: block;
        margin-bottom: 10px;
        color: #c9a131;
        font-size: 14px;
        font-weight: 700;
    }
    &__input {
        max-width: 200px;
        padding: 11px 5px 8px;
        border: 1px solid #c8c6c6;
        box-sizing: border-box;
        &:focus {
            border: 1px solid #c89f2d;
            outline: 0;
        }
        &::placeholder {
            color: #7c7c7c;
            font-family: 'Open Sans', Arial, Helvetica, sans-serif;
            font-style: italic;
        }  
    }
    &__button {
        min-width: 200px;
        margin: 20px auto 0;
        padding: 10px 20px;
        color: #ffffff;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 1;
        background-color: #c89f2d;
        border: 1px solid #c89f2d;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
            background-color: darken($color: #c89f2d, $amount: 5%);
        }
    }
}


/**Media**/
@media screen and (max-width: 1200px) {
    .reservation {
        &__wrapper {
            justify-content: center;
        }
    }
}

@media screen and (max-width: 767px) {
    .reservation {
        &__inner {
            padding: 50px 20px;
        }
    }
}