.reviews {
    
    &__inner {
        position: relative;
        padding: 100px;
    }
    &__background {
        background: url('../img/reviews-background.jpg') no-repeat;
        background-size: cover;
    }
}


.reviews-card {
    position: relative;
    max-width: 770px;
    margin: 0 auto;
    padding: 80px 74px 100px;
    color: #ffffff;
    text-align: center;
    background: url('../img/review-background.png') no-repeat;
    background-size: cover;
    box-sizing: border-box;
    transition: all 0.7s;
    &:hover {
        box-shadow: 0 0 25px rgba($color: #ff9900, $alpha: 0.3);
    }
    &:hover::before {
        opacity: 0.5;
    }
    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #ff9900;
        opacity: 0;
        transition: opacity 0.3s;
    }
    &__title {
        position: relative;
        margin-bottom: 60px;
        font-family: $font-title;
        font-size: 36px;
        font-weight: 400;
        &::after {
            content: '';
            position: absolute;
            bottom: -40px;
            left: 50%;
            display: block;
            width: 247px;
            height: 24px;
            background: url('../img/decals/decal-title-block.png') no-repeat;
            transform: translate(-50%,0);
        }    
    }
    &__desc {
        position: relative;
        margin-bottom: 30px;
        font-family: $font-menu;
        font-size: 25px;
        line-height: 45px;
        &::before {
            content: '“';
            position: absolute;
            top: 10px;
            left: -35px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: #f2f4f4;
            font-size: 96px;
            opacity: 0.5;
        }
    }
    &__author {
        font-size: 18px;
    }
}


/**Media**/
@media screen and (max-width: 767px) {
    .reviews {
        &__inner {
            padding: 50px 20px;
        }
        &__background {
            background-position: center;
        }
    }

    .reviews-card {
        padding: 40px 20px 50px;
        &__desc {
            line-height: 32px;
            &::before {
                top: 0;
                left: -15px;
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: #f2f4f4;
                font-size: 40px;
                opacity: 0.5;
            }
        }
    }
}


@media screen and (max-width: 500px) {
    .reviews-card {
        &__desc {
            font-size: 18px;
            line-height: 28px;
        }
    }
}