@charset "UTF-8";
h1, h2, h3, h4, ul, p, body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

.all-wrapper {
  overflow: hidden;
}

.page {
  font-size: 16px;
  font-family: "Lato", Arial, sans-serif;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.background {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.button {
  min-width: 220px;
  padding: 18px 20px;
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #000000;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.button_light {
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.7);
}

.button_light:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.social {
  font-family: "Font Awesome";
  font-size: 21px;
}

.social__link {
  display: inline-block;
  margin-right: 15px;
  color: #dab33e;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.social__link:hover {
  color: #c09925;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.social_footer {
  color: #ffffff;
  font-size: 24px;
}

.social_footer .social__link {
  color: #ffffff;
}

/**Media**/
@media screen and (max-width: 767px) {
  .social__link {
    color: #ffffff;
  }
  .social__link:hover {
    color: #e6e6e6;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

.payment {
  font-family: "Font Awesome";
  font-size: 24px;
}

.payment__link {
  display: inline-block;
  margin-right: 10px;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.payment__link:hover {
  color: #e6e6e6;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.scroll-top {
  position: fixed;
  z-index: 99;
  right: 50%;
  bottom: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #cc9900;
  border-radius: 5px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  visibility: hidden;
  opacity: 0;
}

.scroll-top:hover {
  opacity: 1;
}

.scroll-top__link {
  display: block;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
}

.scroll-top_active {
  visibility: visible;
  opacity: 0.3;
}

.header {
  position: relative;
  color: #ffffff;
  text-align: center;
}

.header__inner {
  position: relative;
  padding: 0 20px 140px;
}

.header__background {
  background: url("../img/header-background.jpg");
  background-size: cover;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 110px;
  padding: 8px 0;
}

.header__logo {
  margin: 0 auto;
}

.header__nav {
  margin: 10px 20px;
}

.header__social {
  margin-right: auto;
}

.header__title {
  position: relative;
  max-width: 960px;
  margin: 0 auto 105px;
  font-family: "Yeseva One", cursive;
  font-size: 90px;
  line-height: 1.27;
  font-weight: 400;
  text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.64);
  opacity: 0.92;
}

.header__title::after {
  content: '';
  position: absolute;
  bottom: -70px;
  left: 50%;
  display: block;
  width: 232px;
  height: 43px;
  background: url("../img/decals/decal-header-title.png") no-repeat;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.header__button {
  margin: 0 15px;
}

/**Media**/
@media screen and (max-width: 1200px) {
  .header__background {
    background-position: center;
  }
  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav {
    margin-top: 34px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .header__logo {
    margin: 10px 0;
  }
  .header__social {
    margin: 0;
  }
  .header__title {
    font-size: 60px;
  }
}

@media screen and (max-width: 767px) {
  .header__inner {
    padding: 0 20px 70px;
  }
  .header__nav {
    margin-top: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header__button {
    margin: 5px 15px;
  }
}

@media screen and (max-width: 500px) {
  .header__inner {
    padding: 0 10px 40px;
  }
  .header__top {
    margin-bottom: 50px;
  }
  .header__title {
    font-size: 40px;
  }
}

.nav {
  font-family: "Gentium Book Basic", serif;
  font-size: 21px;
  font-weight: 700;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-right: 50px;
  list-style: none;
}

.nav__item:last-child {
  margin-right: 20px;
}

.nav__link {
  position: relative;
  color: #ffffff;
  text-decoration: none;
}

.nav__link:hover::before {
  width: 100%;
}

.nav__link::before {
  content: '';
  position: absolute;
  top: -42px;
  width: 0;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

@media screen and (max-width: 1200px) {
  .nav__item {
    margin-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .nav__list {
    display: block;
  }
  .nav__item {
    margin: 10px 0;
  }
  .nav__item:last-child {
    margin: 0;
  }
  .nav__link {
    font-size: 28px;
  }
  .nav__link::before {
    top: initial;
    bottom: -5px;
    left: 0;
  }
}

.food__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 55px 16% 30px;
}

.food__background {
  background: linear-gradient(-43deg, rgba(1, 1, 1, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%), url("../img/circle-pattern.png");
  background-size: cover, contain;
  -webkit-box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.14);
          box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.14);
}

.food__main {
  text-align: center;
  max-width: 40%;
  margin-right: auto;
  padding: 50px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.food__title {
  position: relative;
  margin-bottom: 65px;
  color: #cc9900;
  font-family: "Yeseva One", cursive;
  font-size: 36px;
  font-weight: 400;
}

.food__title::after {
  content: '';
  position: absolute;
  bottom: -40px;
  left: 50%;
  display: block;
  width: 247px;
  height: 24px;
  background: url("../img/decals/decal-section-title.png") no-repeat;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.food__desc {
  margin-bottom: 50px;
  color: #4c4c4c;
  line-height: 24px;
}

.food__author-img {
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .food__inner {
    padding: 55px 20px 30px;
  }
}

@media screen and (max-width: 767px) {
  .food__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .food__main {
    max-width: 100%;
    margin: 0 auto;
  }
}

.ingredients__inner {
  position: relative;
  padding: 100px 215px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ingredients__background {
  background: url("../img/ingredients-background.jpg") no-repeat;
  background-size: cover;
}

.ingredients-card {
  position: relative;
  max-width: 570px;
  margin-left: auto;
  padding: 85px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.ingredients-card:hover {
  -webkit-box-shadow: 0 0 25px rgba(255, 153, 0, 0.3);
          box-shadow: 0 0 25px rgba(255, 153, 0, 0.3);
}

.ingredients-card:hover::before {
  opacity: 0.3;
}

.ingredients-card::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ff9900;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.ingredients-card__background {
  background: url("../img/ingredients-card-background.png");
  background-size: cover;
}

.ingredients-card__title {
  position: relative;
  margin-bottom: 70px;
  color: #ffffff;
  font-family: "Yeseva One", cursive;
  font-size: 36px;
  line-height: 34px;
  font-weight: 400;
}

.ingredients-card__title::after {
  content: '';
  position: absolute;
  bottom: -40px;
  left: 50%;
  display: block;
  width: 247px;
  height: 24px;
  background: url("../img/decals/decal-title-block.png") no-repeat;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.ingredients-card__desc {
  margin-bottom: 70px;
  color: #ffffff;
  line-height: 24px;
}

.ingredients-card__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ingredients-card__image:hover .ingredients-card__image-img:first-child {
  -webkit-transform: translateX(265%) rotate(360deg);
          transform: translateX(265%) rotate(360deg);
}

.ingredients-card__image:hover .ingredients-card__image-img:last-child {
  -webkit-transform: translateX(-265%) rotate(-360deg);
          transform: translateX(-265%) rotate(-360deg);
}

.ingredients-card__image-img {
  width: 110px;
  height: 110px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

/**Media**/
@media screen and (max-width: 1024px) {
  .ingredients__inner {
    padding: 100px 20px;
  }
  .ingredients-card {
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .ingredients__background {
    background-position: center;
  }
  .ingredients-card {
    padding: 20px;
  }
  .ingredients-card__desc {
    margin-bottom: 20px;
  }
  .ingredients-card__image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ingredients-card__image:hover .ingredients-card__image-img:first-child {
    -webkit-transform: translate(0) rotate(0);
            transform: translate(0) rotate(0);
  }
  .ingredients-card__image:hover .ingredients-card__image-img:last-child {
    -webkit-transform: translate(0) rotate(0);
            transform: translate(0) rotate(0);
  }
  .ingredients-card__image-img {
    margin-bottom: 5px;
  }
}

.menu__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px 50px;
}

.menu__background {
  background: linear-gradient(-226deg, rgba(32, 90, 91, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%), url("../img/menu-pattern.png");
  background-size: cover, contain;
  -webkit-box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.14);
          box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.14);
}

.menu__card {
  max-width: calc(50% - 200px);
  margin: 15px 100px;
}

.menu-card__title {
  position: relative;
  margin-bottom: 70px;
  color: #cc9900;
  font-family: "Yeseva One", cursive;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  -webkit-transition: text-shadow 0.3s;
  transition: text-shadow 0.3s;
  cursor: pointer;
}

.menu-card__title:hover {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.menu-card__title:hover::after {
  bottom: -45px;
}

.menu-card__title::after {
  content: '';
  position: absolute;
  bottom: -40px;
  left: 50%;
  display: block;
  width: 247px;
  height: 24px;
  background: url("../img/decals/decal-section-title.png") no-repeat;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: initial;
}

.menu-card__content {
  overflow: hidden;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.menu-card__item {
  list-style: none;
}

.menu-card-item__name {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.menu-card-item__name::after {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 1px;
  background-color: #c89f2d;
  border: 1px solid #fbf7c0;
  opacity: 0.3;
}

.menu-card-item__title {
  margin-right: auto;
  color: #cc9900;
  font-family: "Yeseva One", cursive;
  font-size: 21px;
  font-weight: 400;
}

.menu-card-item__price {
  color: #cc9900;
  font-family: "Yeseva One", cursive;
  font-weight: 700;
}

.menu-card-item__desc {
  display: block;
  margin-bottom: 35px;
  color: #4c4c4c;
}

/**Media**/
@media screen and (max-width: 1024px) {
  .menu__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__card {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .menu__inner {
    padding: 40px 20px;
  }
  .menu__card {
    margin: 15px;
  }
}

.reviews__inner {
  position: relative;
  padding: 100px;
}

.reviews__background {
  background: url("../img/reviews-background.jpg") no-repeat;
  background-size: cover;
}

.reviews-card {
  position: relative;
  max-width: 770px;
  margin: 0 auto;
  padding: 80px 74px 100px;
  color: #ffffff;
  text-align: center;
  background: url("../img/review-background.png") no-repeat;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.reviews-card:hover {
  -webkit-box-shadow: 0 0 25px rgba(255, 153, 0, 0.3);
          box-shadow: 0 0 25px rgba(255, 153, 0, 0.3);
}

.reviews-card:hover::before {
  opacity: 0.5;
}

.reviews-card::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ff9900;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.reviews-card__title {
  position: relative;
  margin-bottom: 60px;
  font-family: "Yeseva One", cursive;
  font-size: 36px;
  font-weight: 400;
}

.reviews-card__title::after {
  content: '';
  position: absolute;
  bottom: -40px;
  left: 50%;
  display: block;
  width: 247px;
  height: 24px;
  background: url("../img/decals/decal-title-block.png") no-repeat;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.reviews-card__desc {
  position: relative;
  margin-bottom: 30px;
  font-family: "Gentium Book Basic", serif;
  font-size: 25px;
  line-height: 45px;
}

.reviews-card__desc::before {
  content: '“';
  position: absolute;
  top: 10px;
  left: -35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #f2f4f4;
  font-size: 96px;
  opacity: 0.5;
}

.reviews-card__author {
  font-size: 18px;
}

/**Media**/
@media screen and (max-width: 767px) {
  .reviews__inner {
    padding: 50px 20px;
  }
  .reviews__background {
    background-position: center;
  }
  .reviews-card {
    padding: 40px 20px 50px;
  }
  .reviews-card__desc {
    line-height: 32px;
  }
  .reviews-card__desc::before {
    top: 0;
    left: -15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f2f4f4;
    font-size: 40px;
    opacity: 0.5;
  }
}

@media screen and (max-width: 500px) {
  .reviews-card__desc {
    font-size: 18px;
    line-height: 28px;
  }
}

.reservation__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.reservation__background {
  background: linear-gradient(-13deg, rgba(12, 52, 53, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%), url("../img/circle-pattern.png");
  background-size: cover, contain;
  -webkit-box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.05);
          box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.05);
}

.reservation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  margin: 0 -15px;
}

.reservation__main {
  -ms-flex-preferred-size: calc((100% / 12 * 6) - (15px * 2));
      flex-basis: calc((100% / 12 * 6) - (15px * 2));
  max-width: calc((100% / 12 * 6) - (15px * 2));
  margin-right: 15px;
  margin-left: 15px;
  min-width: 500px;
  padding: 0 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.reservation__side {
  -ms-flex-preferred-size: calc((100% / 12 * 6) - (15px * 2));
      flex-basis: calc((100% / 12 * 6) - (15px * 2));
  max-width: calc((100% / 12 * 6) - (15px * 2));
  margin-right: 15px;
  margin-left: 15px;
  min-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reservation__title {
  position: relative;
  margin-bottom: 63px;
  color: #cc9900;
  font-family: "Yeseva One", cursive;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

.reservation__title::after {
  content: '';
  position: absolute;
  bottom: -35px;
  left: 50%;
  display: block;
  width: 247px;
  height: 24px;
  background: url("../img/decals/decal-section-title.png") no-repeat;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.reservation__desc {
  margin-bottom: 40px;
  color: #4c4c4c;
  line-height: 24px;
  text-align: center;
}

.reservation__desc p:first-child {
  margin-bottom: 10px;
}

.reservation__image:first-child {
  margin-right: 30px;
}

.reservation-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.reservation-form__label {
  display: block;
  max-width: 50%;
  margin-bottom: 15px;
  margin-right: 5px;
}

.reservation-form__title {
  display: block;
  margin-bottom: 10px;
  color: #c9a131;
  font-size: 14px;
  font-weight: 700;
}

.reservation-form__input {
  max-width: 200px;
  padding: 11px 5px 8px;
  border: 1px solid #c8c6c6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.reservation-form__input:focus {
  border: 1px solid #c89f2d;
  outline: 0;
}

.reservation-form__input::-webkit-input-placeholder {
  color: #7c7c7c;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-style: italic;
}

.reservation-form__input:-ms-input-placeholder {
  color: #7c7c7c;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-style: italic;
}

.reservation-form__input::-ms-input-placeholder {
  color: #7c7c7c;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-style: italic;
}

.reservation-form__input::placeholder {
  color: #7c7c7c;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-style: italic;
}

.reservation-form__button {
  min-width: 200px;
  margin: 20px auto 0;
  padding: 10px 20px;
  color: #ffffff;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #c89f2d;
  border: 1px solid #c89f2d;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.reservation-form__button:hover {
  background-color: #b38e28;
}

/**Media**/
@media screen and (max-width: 1200px) {
  .reservation__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reservation__main {
    min-width: 300px;
    padding: 0;
  }
  .reservation__side {
    -ms-flex-preferred-size: calc((100% / 12 * 12) - (15px * 2));
        flex-basis: calc((100% / 12 * 12) - (15px * 2));
    max-width: calc((100% / 12 * 12) - (15px * 2));
    margin-right: 15px;
    margin-left: 15px;
    min-width: 300px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .reservation-form__label {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .reservation__inner {
    padding: 50px 20px;
  }
}

.footer {
  color: #ffffff;
  text-align: center;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 20px 30px;
  background-color: #191919;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  margin: 0 -15px;
}

.footer__column {
  -ms-flex-preferred-size: calc((100% / 12 * 4) - (15px * 2));
      flex-basis: calc((100% / 12 * 4) - (15px * 2));
  max-width: calc((100% / 12 * 4) - (15px * 2));
  margin-right: 15px;
  margin-left: 15px;
}

.footer__title {
  position: relative;
  margin-bottom: 60px;
  color: #fefefe;
  font-family: "Yeseva One", cursive;
  font-size: 21px;
  line-height: 24px;
  font-weight: 400;
}

.footer__title::after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 50%;
  display: block;
  width: 199px;
  height: 19px;
  background: url("../img/decals/decal-title-block.png") no-repeat;
  background-size: cover;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.footer__desc {
  margin-bottom: 50px;
}

.footer__hours {
  display: block;
}

.footer__address {
  display: block;
  font-weight: 700;
}

/**Media**/
@media screen and (max-width: 767px) {
  .footer__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__column {
    -ms-flex-preferred-size: calc((100% / 12 * 8) - (15px * 2));
        flex-basis: calc((100% / 12 * 8) - (15px * 2));
    max-width: calc((100% / 12 * 8) - (15px * 2));
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
  }
  .footer__title {
    margin-bottom: 40px;
  }
  .footer__desc {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 450px) {
  .footer__column {
    -ms-flex-preferred-size: calc((100% / 12 * 12) - (15px * 2));
        flex-basis: calc((100% / 12 * 12) - (15px * 2));
    max-width: calc((100% / 12 * 12) - (15px * 2));
    margin-right: 15px;
    margin-left: 15px;
  }
}
/*# sourceMappingURL=style.css.map */