h1, h2, h3, h4, ul, p, body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.page {
  font-size: 16px;
  font-family: "Lato", Arial, sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}

.background {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.button {
  padding: 18px 45px;
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #000000;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.button_light {
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.7);
}

.button_light:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.social {
  font-family: "Font Awesome";
  font-size: 21px;
}

.social__link {
  display: inline-block;
  margin-right: 15px;
  color: #dab33e;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.social__link:hover {
  color: #c09925;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.header {
  color: #ffffff;
  text-align: center;
}

.header__inner {
  position: relative;
  padding-bottom: 140px;
}

.header__background {
  background: url("../img/header-background.jpg");
  background-size: cover;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 110px;
  padding: 8px 0;
}

.header__logo {
  margin-left: 170px;
  margin-right: 240px;
}

.header__title {
  position: relative;
  margin-bottom: 110px;
  padding: 0 320px;
  font-family: "Yeseva One", cursive;
  font-size: 90px;
  line-height: 1.2;
  font-weight: 400;
  text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.64);
  opacity: 0.92;
}

.header__title::after {
  content: '';
  position: absolute;
  bottom: -60px;
  left: 50%;
  display: block;
  width: 232px;
  height: 43px;
  background: url("../img/decals/decal-header-title.png") no-repeat;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.header__button {
  margin: 0 15px;
}

.nav {
  font-family: "Gentium Book Basic", serif;
  font-size: 21px;
  font-weight: 700;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-right: 50px;
  list-style: none;
}

.nav__item:last-child {
  margin-right: 20px;
}

.nav__link {
  position: relative;
  color: #ffffff;
  text-decoration: none;
}

.nav__link:hover::before {
  width: 100%;
}

.nav__link::before {
  content: '';
  position: absolute;
  top: -42px;
  width: 0;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.food__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 55px 260px 30px;
}

.food__background {
  background: linear-gradient(-43deg, rgba(1, 1, 1, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%), url("../img/circle-pattern.png"), url("../img/food-background.jpg") no-repeat;
  background-size: cover, contain;
  -webkit-box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.14);
          box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.14);
}

.food__main {
  text-align: center;
  max-width: 40%;
  margin-right: auto;
  padding: 50px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.food__title {
  position: relative;
  margin-bottom: 65px;
  color: #cc9900;
  font-family: "Yeseva One", cursive;
  font-size: 36px;
  font-weight: 400;
}

.food__title::after {
  content: '';
  position: absolute;
  bottom: -55px;
  left: 50%;
  display: block;
  width: 232px;
  height: 43px;
  background: url("../img/decals/decal-section-title.png") no-repeat;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.food__desc {
  margin-bottom: 50px;
  color: #4c4c4c;
  line-height: 24px;
}

.food__author-img {
  margin: 0 auto;
}

.ingredients__inner {
  position: relative;
  padding: 100px 215px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ingredients__background {
  background: url("../img/ingredients-background.jpg") no-repeat;
  background-size: cover;
}

.ingredients-card {
  position: relative;
  max-width: 570px;
  margin-left: auto;
  padding: 85px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ingredients-card__background {
  background: url("../img/ingredients-card-background.png");
  background-size: cover;
}

.ingredients-card__title {
  position: relative;
  margin-bottom: 70px;
  color: #ffffff;
  font-family: "Yeseva One", cursive;
  font-size: 36px;
  line-height: 34px;
  font-weight: 400;
}

.ingredients-card__title::after {
  content: '';
  position: absolute;
  bottom: -55px;
  left: 50%;
  display: block;
  width: 232px;
  height: 43px;
  background: url("../img/decals/decal-title-block.png") no-repeat;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.ingredients-card__desc {
  margin-bottom: 70px;
  color: #ffffff;
  line-height: 24px;
}

.ingredients-card__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px 50px;
}

.menu__background {
  background: linear-gradient(-226deg, rgba(32, 90, 91, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%), url("../img/menu-pattern.png"), url("../img/food-background.jpg") no-repeat;
  background-size: cover, contain;
  -webkit-box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.14);
          box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.14);
}

.menu-card {
  margin: 15px 100px;
}

.menu-card__title {
  position: relative;
  margin-bottom: 70px;
  color: #cc9900;
  font-family: "Yeseva One", cursive;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

.menu-card__title::after {
  content: '';
  position: absolute;
  bottom: -55px;
  left: 50%;
  display: block;
  width: 232px;
  height: 43px;
  background: url("../img/decals/decal-section-title.png") no-repeat;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.menu-card__item {
  list-style: none;
}

.menu-card-item__name {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.menu-card-item__name::after {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 1px;
  background-color: #c89f2d;
  border: 1px solid #fbf7c0;
  opacity: 0.3;
}

.menu-card-item__title {
  margin-right: auto;
  color: #cc9900;
  font-family: "Yeseva One", cursive;
  font-size: 21px;
  font-weight: 400;
}

.menu-card-item__price {
  color: #cc9900;
  font-family: "Yeseva One", cursive;
  font-weight: 700;
}

.menu-card-item__desc {
  display: block;
  margin-bottom: 35px;
}
/*# sourceMappingURL=style.css.map */